<div class="container">
    <div class="centrado">
        <table class="table table-warning table-striped ">
            <thead>
                <tr class="cabecera">
                    <th scope="col">Ticket</th>
                    <th scope="col">Tiempo Restante</th>
                    <th scope="col">Accion</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ticket of ticketsReservados" class="filas">
                    <th scope="row">{{ticket[0]}}</th>
                    <td>{{ticket[1]}} minutos</td>
                    <td>
                        <button type="button" class="btn btn-outline-secondary reservar" (click)="comprarTicketF(ticket[0])">Comprar</button>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>

</div>